## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.vscode/
*.dll
*.pdb

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Docker
.dockerignore

## Sensitive data
appsettings.Development.json
appsettings.*.json
*.pfx
*.key
secrets.json

## OS
.DS_Store
Thumbs.db
